@keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: none
    }
}

.blurIn {
    animation-name: blurIn
}