@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translate3d(0, -2000px, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.fadeInDownBig {
    animation-name: fadeInDownBig
}