@keyframes flipInY {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotateY(90deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important
}