@keyframes revealInUp {
    0% {
        top: auto;
        bottom: 0;
        height: 0%
    }

    45% {
        top: auto;
        bottom: 0;
        height: 100%
    }

    55% {
        top: 0;
        bottom: auto;
        height: 100%
    }

    100% {
        top: 0;
        bottom: auto;
        height: 0%
    }
}

.revealInUp {
    --wolmart-reveal-animation-color: var(--wolmart-primary-color);
    animation-name: revealContent;
    animation-timing-function: cubic-bezier(0.1, 0.5, 0.5, 0.9);

    &:after {
        left: 0;
        right: 0;
        animation-name: revealInUp
    }
}