@keyframes slideOutLeft {
    0% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(-100%, 0, 0);
        visibility: hidden
    }
}

.slideOutLeft {
    animation-name: slideOutLeft
}