@keyframes threeLeftIn {
    from {
        opacity: 0;
        transform: translateX(-40px) translateZ(150px) rotateX(-20deg) rotateY(40deg) rotateZ(20deg) scale(0.8)
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.threeLeftIn {
    animation-name: threeLeftIn
}