@keyframes threeUpIn {
    from {
        opacity: 0;
        transform: translateY(40px) translateZ(150px) rotateX(60deg) rotateY(10deg) rotateZ(10deg) scale(0.8)
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.threeUpIn {
    animation-name: threeUpIn
}