/*-------------------- Directions --------------------*/
$dir: ltr !default;

@import '../../../assets/sass/direction';

// Elementor panel's wolmart studio button
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes spin {
	0% {
		transform: none;
	}

	to {
		transform: rotate(360deg);
	}
}

.wolmart-elementor-addons-toggle {
	padding: 12px 0;

	.wolmart-mini-logo {
		&:before {
			content: "";
			display: inline-block;
			background-image: url(../../../assets/images/logo-white.svg);
			background-size: cover;
			width: 25px;
			height: 25px;
			vertical-align: middle;
			margin-#{$left}: -6px;
			margin-#{$right}: 1px;
		}
	}

	&:before {
		content: "!";
		vertical-align: middle;
		font-size: 1.5em;
		animation: fade-in 2s infinite linear;
	}
}

#wolmart-elementor-addons {
	.dropdown-box {
		position: absolute;
		display: none;
		bottom: 100%;
		left: 0;
		width: 100%;
		background-color: #1f2124;
		padding: 10px;
		z-index: 10000;
	}

	.dropdown-box.show {
		display: block;
	}

	.options {
		overflow: hidden;
		border: 1px solid #3f444b;
	}

	li {
		text-align: left;
		color: #d5dadf;
		padding: 12px 20px;
		border-bottom: 1px solid #3f444b;
		transition: background-color .3s;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		i {
			position: relative;
			bottom: -1px;
			margin-#{$right}: 8px;
			font-size: 16px;
			width: 20px;
			text-align: center;
		}
	}
}

// Elementor Topbar compatibility
#elementor-editor-wrapper-v2+#elementor-editor-wrapper {
	#elementor-panel-content-wrapper {
		position: relative;
		top: auto;
		bottom: auto;
	}
}

#wolmart-elementor-addons .MuiButtonBase-root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 6px;
	border-radius: 50%;
	color: #fff;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

	&:hover {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.08);
	}

	.wolmart-elementor-addons-toggle {
		padding: 0;
	}

	.dropdown-box {
		display: block;
		#{$left}: auto;
		#{$right}: 0;
		bottom: auto;
		top: calc(100% + 10px);
		width: 200px;
		padding: 0;
		border-radius: 4px;
		overflow: hidden;
		background-color: #0c0d0e;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
		background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
		transform: scale(0.5, 0.5);
		transform-origin: top #{$right};
		opacity: 0;
		visibility: hidden;
		transition: transform .3s, opacity .3s, visibility .3s;

		&.show {
			opacity: 1;
			visibility: visible;
			transform: scale(1, 1);
		}

		.options {
			font-size: 0.875rem;
		}

		li {
			color: #fff;
			padding: 16px;

			i {
				margin-#{$right}: 16px;
			}
		}
	}

	.options {
		border: none;
	}
}

.MuiButtonBase-root .alpha-elementor-addons-toggle {
	display: flex;
	align-items: center;
	padding: 0;
	font-size: 1rem;

	.alpha-mini-logo:before {
		margin: side-values(0 0 0 1px);
		width: 16px;
		height: 16px;
		background-size: 16px;
	}

	&.dropdown-active:after {
		content: none;
	}
}

#elementor-go-to-edit-page-link {
	pointer-events: auto;
}

// Visual Composer's wolmart studio button
.vc_navbar .vc_icon-btn.wolmart-studio-editor-button {
	width: auto;
	padding: 10px;
	line-height: 36px;
	height: 56px;
	width: 56px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-indent: -9999px;
	background: url(../images/wolmart-lab-icon.svg) center 14px no-repeat;
	background-size: 26px;
}

.vcv-ui-navbar-control-icon.wolmart-mini-logo::after {
	content: "!";
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4em;
	transform: translate(15px, -8px);
	color: #fff;
	animation: fade-in 2s infinite linear;
}

.wolmart-vc-addons {
	.vcv-ui-navbar-dropdown-trigger span {
		margin-top: -5px;
	}

	.vcv-ui-navbar-dropdown-content {
		span {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}

		i {
			font-size: 20px;
			margin-right: 10px;
		}
	}
}

.blocks-wrapper .blocks-section::-webkit-scrollbar,
.blocks-wrapper .category-list::-webkit-scrollbar {
	width: 5px;
}

.blocks-wrapper .category-list::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
}

.blocks-wrapper .blocks-section::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.4);
}

// Blocks Wrapper
.blocks-wrapper {
	position: fixed;
	top: 90px;
	left: 90px;
	right: 90px;
	bottom: 90px;
	max-width: 1600px;
	margin: auto;
	font-size: 14px;
	letter-spacing: -.025em;
	font-family: Poppins;
	color: #999;
	background: #2c2c2e;
	line-height: 1.8;
	z-index: 600000;
	-webkit-backface-visibility: hidden;
	transition: opacity .2s;

	* {
		box-sizing: border-box;
	}

	&.closed {
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s, visibility .2s;
	}

	img {
		max-width: 100%;
	}

	.btn-primary {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
		background: #26c;
		border: 1px solid #26c;
	}

	.btn {
		cursor: pointer;
	}

	.btn[disabled] {
		color: #999;
		border-color: #666;
		background: #666;
		cursor: not-allowed;
	}

	.filtered {
		display: none;
	}

	// Category List
	.category-list {
		overflow: auto;
		width: 280px;
		padding: 30px;
		position: absolute;
		background: #fff;
		top: 0;
		bottom: 0;
		#{$left}: 0;
		font-weight: 700;
		text-transform: uppercase;

		h3 {
			text-align: center;
			margin: 15px 0 40px;
			line-height: 0
		}

		li {
			margin-bottom: 0;
		}

		img {
			height: auto;
		}

		a {
			display: block;
			color: #222;
			line-height: 35px;
			text-decoration: none;
			box-shadow: none;

			span {
				margin-#{$left}: 8px;
				color: #999;
				font-weight: 400;
			}

			&:hover,
			&.active {
				color: #26c;
			}
		}

		>ul>li>a {
			padding: 7px 0;
		}

		ul img {
			vertical-align: middle;
			width: 20px;
			height: 20px;
			margin-#{$right}: 7px;
			opacity: .2;
		}
	}

	.category-has-children {
		>a {
			i {
				position: absolute;
				#{$right}: 1rem;
				padding: 10px;
			}
		}

		>ul {
			padding-#{$left}: 2.6rem;
			font-weight: 600;

			a {
				color: #666;
			}
		}
	}

	// Blocks Section
	.blocks-section {
		margin-#{$left}: 280px;
		top: 0;
		position: relative;
		overflow-y: scroll;
		height: 100%;
	}

	.blocks-section-inner {
		position: relative;
		padding: 40px 50px 60px;
	}

	.blocks-row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 15px;
		border-bottom: 1px solid #454545;
		margin-bottom: 44px;

		.blocks-title {
			margin-#{$right}: 20px;
		}

		h3 {
			margin: 0;
			color: #fff;
			font-size: 1.5rem;
			font-weight: 600;
			letter-spacing: -.025em;
		}

		p {
			color: #999;
			font-size: 14px;
			letter-spacing: 0;
			margin: 2px 0 10px;
		}
	}

	.block-categories {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 20px;
		row-gap: 20px;

		&.hide {
			display: none;

			+.blocks-list {
				display: flex;
			}
		}
	}

	.block-category {
		background: #3a3a3c;
		text-decoration: none;
		transition: transform .2s, box-shadow .2s;

		h4 {
			padding: 7px 15px;
			margin: 0;
			background: #606062;
			color: #ccc;
			font-size: 13px;
			font-weight: 400;
		}

		img {
			display: block;
			padding: 15px;
			width: 100%;
		}
	}

	.layout-buttons {
		display: inline-block;
		line-height: 0;
		vertical-align: middle;
		margin-#{$right}: 10px;

		>button {
			width: 40px;
			height: 40px;
			background-color: #2c2c2e;
			border: 2px solid #666;
			opacity: .6;
			border-radius: 3px;
			transition: filter .3s;
			cursor: pointer;

			&:focus {
				outline: 0;
			}

			&:hover,
			&.active {
				opacity: 1;
				filter: invert(1) brightness(2);
			}
		}
	}

	.layout-1 {
		background-image: url('./1-column.svg');
	}

	.layout-2 {
		background-image: url('./2-columns.svg');
	}

	.layout-3 {
		background-image: url('./3-columns.svg');
	}

	.layout-4 {
		background-image: url('./4-columns.svg');
	}

	// Blocks List
	.blocks-list {
		display: none;
		flex-wrap: wrap;
		text-align: center;
		margin: -10px;

		img {
			max-width: 100%;
			display: block;
			height: auto;
			margin: auto;
			border-radius: 4px;
		}

		.block.doing:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -12px 0 0 -12px;
			display: inline-block;
			border: 3px solid #26c;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			border-radius: 20px;
			border-bottom-color: transparent !important;
			animation: spin 2s infinite linear;
		}
	}

	.block {
		width: 100%;
		position: relative;
		padding: 7px;

		&:hover .block-actions {
			bottom: 47px;
			opacity: 1;
		}

		&.favour .w-icon-heart3:before {
			content: '\e902';
		}

		&.doing .block-actions {
			display: none;
		}

		&.center .block-actions,
		&.block-template .block-actions {
			bottom: calc(50% - 20px);
		}

		&.center:hover .block-actions,
		&.block-template:hover .block-actions {
			bottom: 50%;
		}
	}

	.block-template {
		width: 16.66%;
	}

	.block-category:hover,
	.block-category:focus,
	.block-template:hover img {
		transform: translateY(-10px);
	}

	.block-title {
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		padding: 5px 15px;
		margin: 0;
		color: #999;
		background: transparent;
		top: 0;
		font-weight: 400;
		font-size: 14px;
		text-overflow: ellipsis;
		line-height: 30px;
		transition: top .3s, background-color .3s, color .3s;
	}

	.block-online {
		&.selected {
			opacity: 1;
		}

		img {
			opacity: .6;
			transition: opacity .3s;
			border-radius: 4px;
		}

		.block-title {
			display: none;
		}

		&:hover img {
			opacity: 1;
		}

		&.imported:after {
			font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
			font-weight: 100;
			// content: "\f058";
			position: absolute;
			top: 50%;
			left: 50%;
			color: #fff;
			font-size: 40px;
			transform: translate(-50%, -50%);
		}
	}

	.block-template {
		img {
			opacity: 1;
			transition: transform .2s;
		}

		&:hover .block-title,
		&.selected .block-title {
			top: -40px;
			color: #fff;
			background: #2c2c2e;
		}

		&:hover {
			.block-actions {
				margin-top: -30px;
			}
		}
	}

	.block-actions {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 27px;
		left: 0;
		width: 100%;
		transform: translateY(50%);
		transition: bottom .5s, opacity .3s;
		opacity: 0;
		text-align: center;
		z-index: 1;

		.btn {
			text-decoration: none;
			text-transform: uppercase;
			outline: none;
			box-shadow: none;
			font-weight: 600;
			font-family: inherit;
			padding: 10px 20px;
			border: 0;
			text-shadow: none;
			transition: background-color .1s;

			&:first-child:last-child {
				border-radius: 2rem;
			}
		}

		.btn i {
			margin-#{$right}: 4px;
		}

		.btn-dark {
			border-radius: corner-values(2rem 0 0 2rem);
			color: #fff;
			background: #222529;
			padding-#{$left}: 25px;

			&:hover {
				background: lighten(#222529, 10%);
			}
		}

		.btn-primary {
			cursor: pointer;
			border-radius: corner-values(0 2rem 2rem 0);
			padding-#{$right}: 25px;

			&:hover {
				background: lighten(#26c, 10%);
			}
		}
	}

	// Ajax Loader
	.wolmart-loading {
		display: none;
		position: fixed;
	}

	&.loading>.wolmart-loading,
	&.infiniteloading .blocks-section .wolmart-loading {
		display: block;
	}

	&.infiniteloading {

		&:before,
		>.wolmart-loading {
			display: none;
		}

		.blocks-section .wolmart-loading {
			position: absolute;
			bottom: 25px;
			top: auto;
		}
	}

	// Demo Filter
	.demo-filter .btn {
		border-radius: 2px;
		padding: 11px 14px;
		font-size: inherit;
		font-family: inherit;
		text-transform: uppercase;
		vertical-align: middle;
		line-height: 1.2em;
		font-weight: 600;
	}

	.custom-select {
		display: inline-block;
		position: relative;
		padding: 10px 0;
		margin-#{$right}: 10px;

		&:after {
			content: "\e9a6";
			position: absolute;
			top: 50%;
			#{$right}: 1em;
			color: #666;
			font-size: 12px;
			font-weight: 700;
			font-family: 'wolmart';
			line-height: 0;
		}

		select {
			padding: 4px 16px;
			padding-#{$right}: 2.8em;
			border: 0;
			border-radius: 2px;
			color: #fff;
			background: transparent;
			font-size: 14px;
			font-family: inherit;
			width: 200px;
			height: 40px;
			border: 2px solid #454545;
			letter-spacing: inherit;
			-moz-appearance: none;
			-webkit-appearance: none;
		}

		option {
			color: #333;
		}
	}
}

.blocks-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 600000;
	background-color: rgba(0, 0, 0, 0.8);

	&.closed {
		top: -99999px;
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s, visibility .2s;
	}
}

// Layout Builder
.layout-builder {
	position: fixed;
	top: 90px;
	left: 90px;
	right: 90px;
	bottom: 90px;
	max-width: 1600px;
	margin: auto;
	font-size: 14px;
	letter-spacing: -.025em;
	font-family: Poppins;
	color: #999;
	background: #f0f0f1;
	line-height: 1.8;
	z-index: 600000;
	-webkit-backface-visibility: hidden;
	transition: opacity .2s;

	&.closed {
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s, visibility .2s;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.blocks-wrapper,
.layout-builder {
	.mfp-close {
		position: fixed;
		width: 50px;
		height: 50px;
		color: #999;
		font-size: 30px;

		@media (min-width: 1500px) {
			right: 20px;
		}
	}
}

// Magnific Popup
.mfp-fade {
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;

		&.mfp-ready {
			opacity: 0.8;
		}

		&.mfp-removing {
			opacity: 0;
		}
	}

	&.mfp-wrap {
		.mfp-content {
			opacity: 0;
			transition: all 0.3s ease-out;
		}

		&.mfp-ready .mfp-content {
			opacity: 1;
		}

		&.mfp-removing .mfp-content {
			opacity: 0;
		}
	}
}

@media (max-width: 1499px) {
	.blocks-wrapper {
		.block-categories {
			grid-template-columns: repeat(5, 1fr);
		}

		.block-template {
			width: 20%;
		}

		.category-list {
			width: 250px;
		}

		.blocks-section {
			margin-#{$left}: 250px;
		}
	}
}

@media (max-width: 1199px) {
	.blocks-wrapper {
		.block-categories {
			grid-template-columns: repeat(4, 1fr);
		}

		.block-template {
			width: 25%;
		}
	}
}

@media (min-width: 768px) {
	.column-4>.block {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.column-4>.block {
		width: 33.33%;
	}

	.column-3>.block,
	.column-2>.block {
		width: 50%;
	}
}

@media (min-width: 1500px) {
	.column-4>.block {
		width: 25%;
	}

	.column-3>.block {
		width: 33.33%;
	}
}

@media (max-width: 991px) {
	.blocks-wrapper {
		.block-categories {
			grid-template-columns: repeat(3, 1fr);
		}

		.block-template {
			width: 33.33%;
		}

		.category-list {
			width: 200px;
			padding: 10px;
		}

		.blocks-section {
			margin-#{$left}: 200px;
		}
	}
}

@media (max-width: 842px) {
	.blocks-wrapper {
		.block-categories {
			grid-template-columns: repeat(2, 1fr);
		}

		.block-template {
			width: 50%;
		}
	}
}

.rb-modal-wrapper i.fas,
#waitaminute i.fas,
#objectlibrary i.fas,
#rs_overview i.fas,
#rs_overview_menu i.fas,
#builderView i.fas,
.rb-modal-wrapper .fas:before,
#rs_overview .fas:before,
#objectlibrary .fas:before,
#waitaminute .fas:before,
#rs_overview_menu .fas:before,
#builderView .fas:before {
	font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
	font-weight: 900;
}

.wpb_element_wrapper .vc_message_box-icon>.fa {
	font-weight: 900;
}



// .wolmart-sc-image-select {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: flex-start;
// }
// .wolmart-sc-image-select li {
// 	flex: 0 0 20%;
// 	max-width: 20%;
// 	box-sizing: border-box;
// 	cursor: pointer;
// 	padding: 2px;
// 	border: 2px solid #f1f1f1;
// 	transition: border .2s;
// }

// .wolmart-sc-image-select img {
// 	max-width: 100%;
// 	height: auto;
// 	display: block;
// }

// .wolmart-sc-image-select li:hover, .wolmart-sc-image-select li.active {
// 	border-color: #26c;
// }