/* -------------------------------------------
	Custom Icon List
---------------------------------------------- */

.wolmart-icon-lists {
    display: flex;

    &.block-type {
        flex-direction: column;

        .wolmart-icon-list-item:after {
            display: block;
            position: absolute;
            #{$left}: 0;
            top: 100%;
            width: 100%;
            border-style: solid;
            border-width: 0 0 1px;
        }
    }

    &.inline-type {
        flex-wrap: wrap;

        .wolmart-icon-list-item:after {
            position: absolute;
            top: 50%;
            #{$left}: 100%;
            transform: translateY(-50%);
            border-style: solid;
            border-width: side-values(0 1px 0 0);
        }
    }

    .list-title {
        margin: 0 1rem;
    }
}

.wolmart-icon-list-item {
    display: flex;
    align-items: center;
    position: relative;

    svg {
        transition: .3s;
    }

    &:hover {
        color: var(--wolmart-primary-color, $primary-color);
    }
}